/*重置样式 start*/
html, body, ul,a, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div ,header,nav,footer,figure,figcaption,section,main,input{
  margin:0; 
  padding:0; 
  box-sizing:border-box;
}
body{
 overflow-x: hidden;
}
fieldset, img { border:none; }
input{
 outline: none;
 border:0;
}
ul,ol{
list-style: none;
}
a{
text-decoration: none;
}
img{
vertical-align: top;
border: 0;
}
h1,h2,h3,h4,h5,h6{
font-weight: normal;
}
input{
outline: none;
border:0;
}
.fl{
float:left;
}
.fr{
float:right;
}
.clear:after{
content: "";
display: block;
visibility: hidden;
clear: both;
height: 0;
}
.clear{
zoom: 1;
}
.w{
width:1118px;
margin:0 auto;
}