$bgcolor:#333333; //头部背景颜色
$color:#b4a078; //logo字体颜色
/*重置样式 start*/
html, body, ul,a, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div ,header,nav,footer,figure,figcaption,section,main,input{
  margin:0; 
  padding:0; 
  box-sizing:border-box;
}
body{
 overflow-x: hidden;
}
fieldset, img { border:none; }
input{
 outline: none;
 border:0;
}
ul,ol{
list-style: none;
}
a{
text-decoration: none;
}
img{
vertical-align: top;
border: 0;
}
i{
  font-style: normal;
}
h1,h2,h3,h4,h5,h6{
font-weight: normal;
}
input{
outline: none;
border:0;
}
.fl{
float:left;
}
.fr{
float:right;
}
.clear:after{
content: "";
display: block;
visibility: hidden;
clear: both;
height: 0;
}
.clear{
zoom: 1;
}
.w{
width:1105px;
margin:0 auto;
}
.head{
  // header start
  .header_top{
    height:36px;
    width:100%;
    background-color: $bgcolor;
    .header{
      color:#cccccc;
      font-size: 12px;
      height:36px;
      p.good_life{
        height:36px;
        float:left;
        line-height: 36px;
      }
      .top_right{
        float:right;
        .top_item{
          height:36px;
          line-height: 36px;
          a{
            color:#ccc;
            margin:0 9px
          }
          a:hover{
            color:#eee;
          }
        }
        .top_item:last-child{
          position: relative;
          a{
            padding-left:12px;
            background:url(../img/index/logo.png) no-repeat 0 4px;
          }
          i{
            display: none;
            width:15px;
            height:7px;
            position: absolute;
            left:13px;
            bottom:0;
            background:url(../img/index/logo.png) no-repeat 3px -335px;
          }
          //二维码
          .erweima{
            display: none;
            z-index: 20;
            width:139px;
            height:157px;
            box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
            position: absolute;
            left:-46px;
            text-align: center;
            padding-top:10px;
            img{
              width:117px;
              height:117px;
            }
            p.ewm_font{
              text-align: center;
              color:$color;
            }
          }
          &:hover{
            i{
              display: block;
            }
            .erweima{
              display: block;
            }
          }
        }
        .top_item:nth-child(7){
            position: relative;
            // background:url(../img/index/logo.png) no-repeat 28px -315px;                           
            a{
              padding-right:24px;
              background:url(../img/index/logo.png) no-repeat 56px -315px;
              
            }
            i{
              display: none;
              width:15px;
              height:7px;
              position: absolute;
              left:30px;
              bottom:0;
              background:url(../img/index/logo.png) no-repeat 3px -335px;
            }
            &:hover{
              i{
                display: block;
              }                 
              a{
                background:url(../img/index/incon3.png) no-repeat 56px -148px; 
              }
              ul{
                display: block;
              }
            }
            ul{
              display:none;
              z-index: 20;
              position: absolute;
              left:0;
              top:36px;
              width:83px;
              padding:0 8px;
              box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
              li{
                text-align: center;
                a{
                  padding:0;
                  color:#999;
                }
              }
              li+li{
                border-top:1px solid #eee;
              }
              li:hover{
                a{
                  color:$color;
                }
              }
            }
        }

        
      }
    }
  }
  //searchbox start
  .logobox{
    height:130px;
    position: relative;
    .logo{
      width:180px;
      height:66px;
      position: absolute;
      left:0;
      right:0;
      top:50px;
      margin:auto;
      background: url(../img/index/logo.png) no-repeat 0 -144px;
    }
    .searchbox{
      width:335px;
      height:32px;
      margin-top:66px;
      background-color: #fff;
      position: relative;
      //搜索框
      .search{
        width:274px;
        height:24px;
        margin-top:8px;
        .text{
          border-bottom:1px solid #d8cebc;
          padding-left:12px;
          height:22px;
          font-size: 12px;
          width:250px;
        }
        .btn{
          width:22px;
          height:22px;
          background:url(../img/index/logo.png) no-repeat 0 -290px;
        }
      }
      //购物车
      span{
        display: block;
        float:right;
        width:35px;
        height:32px;
        margin-right:10px;
        background:url(../img/index/logo.png) no-repeat 0 -105px;  
        position: relative;
        //购物车数量
        i{
          position: absolute;
          right:0px;
          top:-4px;
          width:20px;
          height:20px;
          color:#fff;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          background:url(../img/index/logo.png) no-repeat 0 -50px;            
        }     
      }
    }
  }
}
