
@mixin  center {
  left:0;right:0;margin:auto;
}
@mixin cz {
  top:0;bottom:0;margin:auto;
}
@mixin  iBlock($width,$height,$lineHeight) {
  position: absolute;
  text-align: center;
  width:$width;
  height:$height;
  line-height: $lineHeight;
  font-size: $font-size;
  color:#fff;
}
@mixin h2 {
  margin-top:20px;
  font-weight: 600;
  color:$bgcolor;
  text-align: center;
}
@mixin prevBtn {
  width:30px;
  height:30px;
  border-radius: 50%;
  background: url(../img/index/icon4.png) no-repeat 0 -2389px;
  position: absolute;
  left:-15px;
  z-index: 5;
  @include cz;
}
@mixin nextBtn {
  width:30px;
  height:30px;
  border-radius: 50%;
  background: url(../img/index/icon4.png) no-repeat 0 -4329px;
  position: absolute;
  right:-15px;
  z-index: 5;
  @include cz;
}
$bgcolor:#333333; //头部背景颜色
$color:#b4a078 #d4282d #f4f0ea; //logo字体颜色
$font-size:12px;
//轮播图
.banner{
  height:420px;
  width:100%;
  position: relative;
  .btnBox{
    height:420px;
    position: relative;
    .prevBtn{
      @include prevBtn;
    }
    .nextBtn{
      @include nextBtn;
    }
    .prevBtn:hover{
      background-position-y:-2347px; 
    }
    .nextBtn:hover{
      background-position-y: -4289px;
    }
  }
  ul{
    width:100%;
    height:420px;
    position: absolute;
    left:0;
    top:0;
    >li{
      position: absolute;
      left:0;
      top:0;
      >a{
        >img{
          width:100%;
          height: 420px;
        }
      }
    }
  }
  ol{
    // width:150px;
    width:100%;
    position: absolute;
    @include center;
    bottom:20px;
    text-align: center;
    li{
      width:8px;
      height:8px;
      margin:10px 8px;
      display:inline-block;
      border-radius: 50%;
      background-color: #fff;
      border:1px solid #d2d2d2;
      cursor: pointer;
      box-sizing: content-box
    }
    li.active{
      margin:6px 5px;
      border:4px solid #dfcead;
      background-color: #a7936e;
    }
  }
}
//小标题
.litterTitle{
  line-height: 66px;
  // margin-top:45px;
  >span{
    font-size: 27px;
    font-weight: 600;
    i{
      @extend span;
      margin-right:25px;
      cursor: pointer;
    }
  }
  >span+span{
    font-size: $font-size;
    margin-left:20px;
    font-weight: 400;
    color:$bgcolor;
  }
  .active{
    color:nth($color,1);
    border-bottom:3px solid nth($color,1);
  }
  >a{
    float: right;
    color:$bgcolor;
  }
}
//制造商
.manuFacturer{
  margin-top:14px;
  .makeImg{
    height:320px;
    >div{
      width:358px;
      height:320px;
      margin-right:12px;
      transition: all 0.3s;
      .makeFont{
        text-align: center;
        padding-top:45px;
        color:#666666;
        p{
          font-size: 24px;
          margin-bottom:18px;
          position: relative;
          .new{
            background:url(../img/index/xx.png) no-repeat;
            @include iBlock(32px,21px,18px)
          }
        }
        
        span{
          font-size: $font-size;
          display: inline-block;
          padding-top:22px;
          border-top:1px solid #666666;;
        }
      }
      div.x{
        text-align: left;
        padding-left:20px;
       >p{
         font-size: 20px;
        }
      }
    }
    .makeImg_left{
      background:url(../img/index/802ff06dd3ef161db046eeb8db6cb4be.jpg) no-repeat center top;
      background-size: 100%;
    }
    .makeImg_center{
      background: url(../img/index/b72c6486bc681f7b0dcb87d9af0ab1bb.png) no-repeat center top;
      background-size: 100%;
    }
    .makeImg_right{
      margin-right:0;
      >div{
        height:156px;
        transition: all 0.3s;
      }
      .make_r_t{
        margin-bottom: 9px;
        background: url(../img/index/957c8d117473d103b52ff694f372a346.png) no-repeat center top;
        background-size: 100%;
      }
      .make_r_b{
        background: url(../img/index/e3bcfdff30c97ba87d510da8d9da5d09.png) no-repeat center top;
        background-size: 100%;

      }
      >div:hover{
      background-size: 102%;
      }
    }
    >div:hover{
      background-size: 102%;
    }
  }
}


//人气推荐
.hotProBox{
  width:100%;
  height:698px;
  padding-top:45px;
  background-color: #f4f0ea;
  .hotPros{
    height:530px;
    .hotPros_left{
      width:390px;
      height:530px;
      text-align: center;
      // margin-right:10px;
      background-color: #fff;
      >a{
        >img{
          width:320px;
          height:320px;
          margin:40px 0;
          transition: all 1s;
        }
        >div{
          height:130px;
          border-top:1px solid nth($color,3);
          padding-top:30px;
          h2{
            @include h2;
            margin-bottom:10px;
          }
          h2:hover{
            color:nth($color,1);
          }
          .price{
            color:nth($color,2);
          }
        }
      }
      >a:hover{
        img{
          transform: scale(1.1)
        }
      }
    }
    >.hotPros_right{
      width:690px;
      >li{
        float:left;
        width:223px;
        height:260px;
        margin-right:10px;
        margin-bottom:10px;
        background-color: #fff;
        text-align: center;
        >a{
          img{
            width:180px;
            height:180px;
            transition: all 1s;
          }
          >div{
            border-top:1px solid nth($color,3);
            height:80px;
            h2{
              @include h2;
              margin-bottom:10px;
            }
            h2:hover{
              color:nth($color,1);
            }
            .price{
              color:nth($color,2);
            }
            .oldPrice{
              text-decoration: line-through;
              color:#999999;
            }
          }
        }
        >a:hover{
          img{
            transform: scale(1.1);
            animation: opcity 2s;
          }
        }
      }
      li:nth-child(3n){
        margin-right:0;
      }
      li:nth-child(4+n){
        margin-bottom:0;
      }
    }
  }
}

//限时购
.time_to_buy{
  padding-top:46px;
  height:545px;
  .timeBox{
    height:380px;
    width:225px;
    background: url(/img/index/time.jpg) no-repeat;
    background-size: contain;
    color:#61594b;
    padding-top:68px;
    text-align: center;
    h3{
      font-size: 22px;
      text-align: center;
    }
    .line{
      // display: inline-block;
      width:20px;
      border:1px solid #61594b;
      margin:16px auto;
    }
    span{
      font-size: 16px;
    }
    p{
      text-align: center;
      margin:22px 0 50px;
      span{
        display: inline-block;
        background-color: #61594b;
        width:40px;
        height:40px;
        border-radius: 4px;
        color:#fff;
        text-align: center;
        line-height: 40px;
        margin:0 7px;
      }
    }
    a{
      display: inline-block;
      width:110px;
      height:30px;
      background-color: #a7936e;
      color:#fff;
      line-height: 30px;
      text-align: center;
      border-radius: 20px;
      font-size: 13px;
    }
  }
  .time_left{
    border-bottom:1px solid #f0ece4;
    width:880px;
    height:380px;
    >a{
      float:left;
      width:440px;
      height:190px;
      position: relative;
      >dl{
        width:440px;
        height:190px;
        border-top:1px solid #f0ece4;
        border-right:1px solid #f0ece4;
        >dt{
          width:180px;
          height:180px;
          float: left;
          text-align: center;
          img{
            transition: all 1s;
          }
        }
        >dd{
          float: left;
          width:259px;
          h5{
            color:$bgcolor;
            font-size: 16px;
            margin-top:20px;
          }
          >.t_description{
            color:#999999;
            line-height: 32px;
          }
          >.t_repertory{
            @extend .t_description;
            >.t_progress{
              display:inline-block;
              width:152px;
              height:10px;
              border-radius: 20px;
              border:1px solid #f2cecd;
              background-color: #fff;
              margin-right:10px;
              position: relative;
              overflow: hidden;
              i{
                display:inline-block;
                width:0;
                height:8px;
                border-radius: 20px;
                background-color: #ffe5e5;
                // width:50px;
                position: absolute;
              }
            }
          }
          >.t_priceBox{
            line-height: 26px;
            color:nth($color,2);
            margin-bottom:16px;
            >.t_price{
              font-size: 18px;
              margin-right:16px;
              font-weight: 600;
            }
            >.t_oldPrice{
              color:#999999;
              line-height: 26px;
            }
          }
          >button{
            width:118px;
            height:30px;
            background-color: nth($color,2);
            color:#fff;
            border-radius: 2px
          }
          >p{
            display:none;
            color:rgb(143, 136, 136);
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color:rgba(0,0,0,0.2);
            text-align: center;
            >span{
              display: inline-block;
              font-size: 32px;
              transform: rotate(45deg);
              line-height: 190px;
            }
          }
        }
      }
    }
    >a:hover{
      dl{
        dt{
          img{
            transform: scale(1.1)
          }
        }
      }
    }
  }
}