@mixin  center {
  left:0;right:0;margin:auto;
}
@mixin cz {
  top:0;bottom:0;margin:auto;
}
$bgcolor:#333333; //头部背景颜色
$color:#b4a078; //logo字体颜色
$font-size:12px;
.banner{
  height:420px;
  width:100%;
  position: relative;
  .btnBox{
    height:420px;
    background-color: rgba(0,0,0,.5);
    position: relative;
    .prevBtn{
      width:30px;
      height:30px;
      border-radius: 50%;
      background: url(../img/index/icon4.png) no-repeat 0 -2347px;
      position: absolute;
      left:-15px;
      z-index: 20;
      @include cz;
    }
    .nextBtn{
      width:30px;
      height:30px;
      border-radius: 50%;
      background: url(../img/index/xy.png) no-repeat;
      position: absolute;
      right:-15px;
      z-index: 20;
      @include cz;

    }
  }
  ul{
    width:100%;
    height:420px;
    position: absolute;
    left:0;
    top:0;
    >li{
      position: absolute;
      left:0;
      top:0;
      >a{
        >img{
          width:100%;
          height: 420px;
        }
      }
    }
  }
  ol{
    width:150px;
    position: absolute;
    @include center;
    bottom:20px;
    li{
      width:8px;
      height:8px;
      // margin:6px 16px;
      margin:10px 8px;
      float:left;
      border-radius: 50%;
      background-color: #fff;
      border:1px solid #d2d2d2;
      cursor: pointer;
      box-sizing: content-box
    }
    li.active{
      margin:6px 5px;
      border:4px solid #dfcead;
      background-color: #a7936e;
    }
  }
}